@import "normalize";
@import "layout";
@import "elements";
@import "slick.scss";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
  font: 400 14px/2.2 "Rubik", sans-serif;
  color: #4f5665;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #0b132a;
  margin: 0;
}
h1 {
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 20px;
  @media screen and (min-width: 640px) {
    font-size: 50px;
  }
}
h2 {
  font-size: 22px;
  line-height: 1.43;
  margin-bottom: 20px;

  @media screen and (min-width: 640px) {
    font-size: 35px;
  }
}

h4 {
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 30px;
}

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1180px;
}

.ba-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;

  @media screen and (min-width: 640px) {
    padding-top: 40px;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 50px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    @media screen and (min-width: 640px) {
      padding: 0 30px;
    }
    @media screen and (min-width: 1024px) {
      padding: 0;
    }
  }
}
.ba-logo {
  flex-grow: 2;
}
.ba-logo__img {
  position: relative;
  z-index: 11;
}

.ba-nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  &__item {
    font-size: 16px;
    line-height: 1;
    position: relative;
  }
  &__item + &__item {
    margin-left: 40px;
  }
  &__link {
    color: #4f5665;
    display: block;
    text-decoration: none;
  }

  &__link:hover {
    color: black;
    text-shadow: rgba(245, 56, 56, 0.25) 0 0 5px;
    transform: scale(1.1);
  }

  @media (max-width: 1023px) {
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #f6f6f6 25%, #f6f6f6, #fbfcff 100%),
      #fff;
    z-index: 10;
    width: 100%;
    padding: 25% 30px;
    opacity: 0;
    transition: transform ease-in-out 0.5s, opacity 0.5s;
    transform: translateY(-102%);
    &__item + &__item {
      margin-left: 0;
    }

    &.open {
      /* display: block; */
      transform: translateY(0);
      opacity: 1;
    }
    &.open ~ .ba-menu-toggle::before {
      transform: translateY(10px) rotate(675deg);
    }
    &.open ~ .ba-menu-toggle::after {
      transform: translateY(-10px) rotate(765deg);
    }
    &.open ~ .ba-menu-toggle span {
      opacity: 0;
    }
    &__list {
      flex-direction: column;
      text-align: center;
    }
    &__item + &__item {
      margin-top: 20px;
      padding-top: 20px;
    }
    &__item {
      padding: 0;
    }
    &__link {
      font-size: 24px;
      text-transform: uppercase;
    }
    &__link--button {
      text-align: center;
      font-size: 20px;
      text-transform: none;
      margin-top: 20px;
    }
  }
  .ba-buttons {
    &__list {
      margin: 0;
      padding: 0;
      // padding: 0 0 0 105px;
      display: flex;
      list-style: none;
      align-items: center;
    }
    &__item {
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      position: relative;
    }
    &__link {
      color: #4f5665;
      display: block;
      text-decoration: none;
      border: 1px solid transparent;
      height: 45px;
      line-height: 1;
      border-radius: 22px;
      padding: 13px 45px;
    }
    &__link + &__link {
      margin-left: 70px;
    }
    &__link.active,
    &__link:hover {
      border: 1px solid #f53855;
    }
    &__link.active {
      color: #f53855;
    }
    &__link:hover {
      color: black;
    }
    @media (max-width: 1023px) {
      &__list {
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
      }
      &__item + &__item {
        margin-top: 40px;
      }
      &__link {
        font-size: 24px;
        text-transform: uppercase;
      }
      &__link + &__link {
        margin-left: 0;
      }
    }
  }
}

.ba-menu-toggle {
  width: 40px;
  height: 24px;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  display: inline-flex;
  background: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  outline: none;
  position: relative;
  z-index: 11;

  &::before,
  &::after {
    content: "";
  }
  &::before,
  &::after,
  & span {
    display: block;
    width: 100%;
    height: 4px;
    background: #f53855;
    transition: transform 0.4s, opacity ease-in-out 0.4s;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

/* .ba-header finish */

.ba-section-intro {
  padding-top: 90px;
  @media screen and (min-width: 640px) {
    padding-top: 150px;
  }
  span {
    font-weight: 700;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 16px;
      margin: 0;
    }
    @media screen and (min-width: 640px) {
      align-items: flex-start;
    }
  }
  &__link {
    margin-top: 40px;
    max-width: 250px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    display: block;
    text-decoration: none;
    background: #f53838;
    border: 2px solid #f53838;
    height: 60px;
    line-height: 1;
    border-radius: 10px;
    padding: 20px 80px;
    box-shadow: 0px 40px 40px -20px rgba(245, 56, 56, 0.35);
    @media screen and (min-width: 640px) {
      margin-top: 50px;
    }
  }
  &__link:hover {
    background: transparent;
    color: #f53838;
  }
  &__image {
    img {
      @media screen and (min-width: 640px) {
        width: 100%;
      }
    }
    padding-top: 30px;
    @media screen and (min-width: 640px) {
      padding: 0;
      margin-right: -50px;
    }
  }
}

.ba-section-about {
  margin-top: 105px;
  &__inner {
    background: #fff;
    box-shadow: 0px 70px 20px -30px rgba(13, 16, 37, 0.06);
    border-radius: 10px;
    margin: 20px 0 0 0;
    padding: 37px 0px;
    align-items: center;
    justify-content: space-around;
    display: flex;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;

    @media screen and (min-width: 640px) {
      flex-direction: row;
      justify-content: center;
    }
  }
  &__item + &__item {
    border-left: 2px solid #eeeff2;
    margin-left: -15px;
    padding-left: 15px;
  }
}
.about-item {
  &___about {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 640px) {
      margin-left: 37px;
      align-items: flex-start;
      justify-content: center;
    }
    p {
      margin: 0;
      line-height: 1;
    }
    p + p {
      margin-top: 5px;
    }
  }
  &__number {
    font-size: 20px;
    font-weight: 700;
    @media screen and (min-width: 640px) {
      font-size: 25px;
    }
  }
  &__name {
    font-size: 18px;
    @media screen and (min-width: 640px) {
      font-size: 20px;
    }
  }
}

.ba-section-features {
  margin-top: 60px;
  @media screen and (min-width: 640px) {
    margin-top: 100px;
  }
  &__inner {
    padding: 60px 0;
    @media screen and (min-width: 640px) {
      padding: 100px 0;
    }
    .ba-section-features__text {
      @media screen and (min-width: 640px) {
        padding: 100px 0 100px 80px;
      }
    }
  }
  &__text {
    padding-top: 50px;
    p {
      font-size: 16px;
      margin: 0 0 20px 0;
    }
    ul {
      margin: 0;
    }
  }
  .features-item {
    list-style: none;
    position: relative;
  }
  .features-item::before {
    content: "";
    position: absolute;
    left: -35px;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1215 2.54932C6.60746 2.54932 2.12146 7.03532 2.12146 12.5493C2.12146 18.0633 6.60746 22.5493 12.1215 22.5493C17.6355 22.5493 22.1215 18.0633 22.1215 12.5493C22.1215 7.03532 17.6355 2.54932 12.1215 2.54932ZM10.1225 16.9623L7.11691 13.9632C6.72616 13.5733 6.72537 12.9405 7.11515 12.5496C7.50517 12.1585 8.13847 12.1578 8.52939 12.548L10.1205 14.1363L14.7075 9.54932C15.0979 9.15885 15.731 9.15885 16.1215 9.54932C16.5119 9.93978 16.5119 10.5729 16.1215 10.9633L10.1225 16.9623Z' fill='%232FAB73'/%3E%3C/svg%3E%0A");
    width: 25px;
    height: 25px;
  }
}

.ba-section-plans {
  padding-top: 80px;
  background: #f6f6f6;

  h2,
  p {
    text-align: center;
  }
  p {
    font-size: 16px;
    margin: 0 0 60px 0;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 1024px) {
      flex-direction: row;
      align-items: stretch;
    }
    .ba-plans-block + .ba-plans-block {
      @media screen and (min-width: 1024px) {
        margin-left: 50px;
      }
    }

    .ba-plans-block {
      &__inner {
        margin: auto;
        background: #fff;
        border-radius: 10px;
        border: 2px solid #dddddd;
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 15px 40px 15px;
        height: 100%;
        @media screen and (min-width: 640px) {
          padding: 80px 15px 50px 15px;
        }
      }
      &__inner:hover {
        border-color: #f53838;
      }
      &__title {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      &__desc {
        margin: 0 0 50px 0;
        list-style: none;
        li {
          position: relative;
        }
        li:before {
          content: "";
          position: absolute;
          left: -35px;
          background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4487 17.2796C11.3174 17.2798 11.1874 17.2542 11.0661 17.2041C10.9448 17.154 10.8345 17.0804 10.7417 16.9876L6.4997 12.7446C6.40412 12.6524 6.32786 12.5421 6.27537 12.4201C6.22288 12.2982 6.1952 12.167 6.19395 12.0342C6.19271 11.9014 6.21792 11.7697 6.26811 11.6468C6.3183 11.5238 6.39248 11.4121 6.4863 11.3182C6.58013 11.2242 6.69173 11.1499 6.81458 11.0995C6.93744 11.0492 7.0691 11.0238 7.20188 11.0248C7.33466 11.0259 7.4659 11.0534 7.58794 11.1057C7.70998 11.158 7.82038 11.2341 7.9127 11.3296L11.4477 14.8646L17.8127 8.50156C18.0002 8.31392 18.2546 8.20845 18.5198 8.20836C18.7851 8.20827 19.0396 8.31355 19.2272 8.50106C19.4148 8.68857 19.5203 8.94294 19.5204 9.20821C19.5205 9.47348 19.4152 9.72792 19.2277 9.91556L12.1557 16.9876C12.0629 17.0804 11.9526 17.154 11.8313 17.2041C11.71 17.2542 11.58 17.2798 11.4487 17.2796Z' fill='%232FAB73'/%3E%3C/svg%3E ");
          width: 24px;
          height: 24px;
        }
      }
      &__footer {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        p {
          margin: 0;
        }
      }
      &__price {
        font-size: 20px;
        span {
          font-weight: 500;
        }
        @media screen and (min-width: 640px) {
          font-size: 25px;
        }
      }
      &__link {
        font-size: 16px;
        font-weight: 700;
        color: #f53838;
        display: block;
        text-decoration: none;
        border: 2px solid #f53838;
        height: 45px;
        line-height: 1;
        border-radius: 22px;
        padding: 13px 63px;
      }
      &__link:hover {
        background: #f53838;
        box-shadow: 0px 20px 20px -5px rgba(245, 56, 56, 0.35);
        color: #fff;
      }
    }
    .ba-plans-block + .ba-plans-block {
      margin-top: 30px;
      @media screen and (min-width: 1024px) {
        margin-top: 0;
      }
    }
  }
}

.ba-section-locations {
  background: #f6f6f6;
  text-align: center;
  &__inner {
    padding: 60px 0;
    @media screen and (min-width: 640px) {
      padding: 150px 0;
    }
    p {
      font-size: 16px;
    }
    span {
      font-weight: 700;
    }
    img {
      margin-top: 60px;
      @media screen and (min-width: 640px) {
        margin-top: 155px;
      }
    }
    .ba-sponsors {
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (min-width: 640px) {
        flex-wrap: nowrap;
        &__item {
          @media screen and (min-width: 640px) {
            width: 20%;
          }
        }
      }
    }
  }
}

.ba-section-customers {
  background: #f6f6f6;
  .ba-slider-wraper {
    position: relative;
    @media screen and (min-width: 640px) {
      margin-right: calc(1180px / 2 - 100vw / 2);
    }
  }
  &__inner {
    padding: 60px 0 240px;
    @media screen and (min-width: 640px) {
      padding: 125px 0 300px;
    }
  }
  &__title {
    text-align: center;
  }
  &__subtitle {
    font-size: 16px;
    text-align: center;
    margin-bottom: 60px;
  }
  &__comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    position: relative;
    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 0;
      margin: 0;
    }
    .slick-dots {
      position: absolute;
      bottom: -101px;
      left: 0;
      li {
        list-style: none;
      }
      li.slick-active {
        button {
          width: 45px;
          height: 15px;
          border-radius: 8px;
          border: 1px solid #f53838;
          background: #f53838;
        }
      }
      li + li {
        margin-left: 15px;
      }
    }
    .slick-dots {
      button {
        font-size: 0;
        width: 15px;
        height: 15px;
        background: #dde0e4;
        border-radius: 50%;
        border: 1px solid #dde0e4;
        outline: none;
        transition: color 0.3s ease-in, border-color 0.3s ease-in,
          background-color 0.3s ease-in, opacity 0.3s ease-in;
      }
    }
  }
}
.ba-comment-blok + .ba-comment-blok {
  margin-left: 50px;
}
.ba-comment-blok {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: #fff;
  padding: 30px;
  width: 300px;
  height: auto;
  p {
    margin: 0;
  }
  @media screen and (min-width: 640px) {
    width: 400px;
  }
  border: 2px solid #dddddd;
  border-radius: 10px;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    p {
      margin-top: 20px;
      font-size: 16px;
      line-height: 1.9;
    }
  }
}
.ba-comment-blok.slick-active.slick-current {
  border-color: #f53838;
}
.ba-customer {
  display: flex;
  align-items: center;
  &__photo {
    flex-shrink: 0;
  }
  &__info {
    margin-left: 20px;
  }
  &__name {
    color: #0b132a;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 5px;
  }
  &__location {
    line-height: 1;
  }
}

.ba-section-subscribe {
  margin-top: -181px;
  @media screen and (min-width: 640px) {
    margin-top: -123px;
  }
  &__inner {
    font-weight: 700;
    position: relative;
    z-index: 10;
    background: #fff;
    box-shadow: 0px 70px 20px -30px rgba(13, 16, 37, 0.06);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    @media screen and (min-width: 640px) {
      padding: 60px 70px;
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      line-height: 45px;
    }
    p {
      line-height: 1;
      font-size: 16px;
      margin: 0;
    }
    h2,
    p {
      text-align: center;
      @media screen and (min-width: 640px) {
        text-align: start;
      }
    }
    @media screen and (min-width: 640px) {
      align-items: flex-start;
    }
  }
  &__link {
    margin-top: 40px;
    max-width: 250px;
    text-align: center;
    color: #fff;
    display: block;
    text-decoration: none;
    background: #f53838;
    border: 2px solid #f53838;
    height: 60px;
    line-height: 1;
    border-radius: 10px;
    padding: 20px 65px;
    box-shadow: 0px 40px 40px -20px rgba(245, 56, 56, 0.35);
    @media screen and (min-width: 640px) {
      margin-top: 0;
    }
  }
  &__link:hover {
    background: transparent;
    color: #f53838;
  }
}

.ba-footer {
  background: #f8f8f8;
  margin-top: -181px;
  @media screen and (min-width: 640px) {
    margin-top: -125px;
  }
  &__inner {
    display: flex;
    padding: 250px 0 20px 0;
    flex-direction: column;
    @media screen and (min-width: 640px) {
      flex-direction: row;
      padding: 250px 0 50px 0;
    }
  }
  &__info {
    margin-top: 30px;
    order: 2;
    text-align: center;
    @media screen and (min-width: 640px) {
      order: 1;
      margin-top: 0;
      text-align: start;
    }
    span {
      font-weight: 700;
    }
    p {
      max-width: 300px;
      margin-top: 5px;
      margin-bottom: 10px;
      @media screen and (min-width: 640px) {
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
    .ba-socials__icons {
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (min-width: 640px) {
        justify-content: start;
      }
    }
    .ba-socials__icons {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        background: #fff;
        border-radius: 50%;
        svg {
          fill: #f53838;
        }
      }
      a + a {
        margin-left: 20px;
      }
      a:hover {
        box-shadow: 0 0 15px #f53838;
        transform: scale(1.1);
      }
    }
  }
  &__menu {
    order: 1;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 640px) {
      justify-content: space-between;
      order: 2;
    }
  }
}
.ba-footer-link-col {
  width: 50%;
  h4 {
    line-height: 1;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 640px) {
    width: 33.33%;
  }
}
.ba-footer-link-col:last-child {
  margin-top: 50px;
  @media screen and (min-width: 640px) {
    margin-top: 0;
  }
}
.ba-footer-list {
  list-style: none;
  margin-top: 0;
  padding: 0;
  li + li {
    margin-top: 10px;
  }
  li a {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #4f5665;
  }
  li a:hover {
    color: black;
    text-shadow: rgba(245, 56, 56, 0.25) 0 0 5px;
    transform: scale(1.1);
  }
}

.ba-slider-btn {
  margin-top: 60px;
  @media screen and (min-width: 640px) {
    padding-right: 150px;
  }
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .ba-slider-btn__prev,
  .ba-slider-btn__next {
    svg {
      fill: #f53838;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    z-index: 10;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #f53838;
    outline: none;
    &:hover,
    &:focus {
      background: #f53838;
    }
    &:hover > svg,
    &:focus > svg {
      fill: #fff;
    }
  }
}
.ba-slider-btn__next {
  transform: rotate(180deg);
  margin-left: 20px;
}
.slick-track {
  display: flex;
}
